
     
.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $color-5;
    color: white;
    position: absolute;
    width: 100%;
    bottom: -184px; 
    transition: 1s;
    height: 169px;
}

.active_footer{
   
    bottom: -18px;
}

.content_arrow{
    position: absolute;
    top: -65px;
    right: 50%;
    transition: .5s;
    transform: rotate(-180deg);
}

.param_arrow{
    animation: navAnim 20s ease-in 0s infinite alternate both;
    color: rgb(184, 183, 183);
    font-size: 50px;
    cursor: pointer;

   

    @keyframes navAnim {
        0%,
        100% {
            transform: translateY(0);
        }
    
        10%,
        30%,
        50%,
        70% {
            transform: translateY(-8px);
        }
    
        20%,
        40%,
        60% {
            transform: translateY(8px);
        }
    
        80% {
            transform: translateY(6.4px);
        }
    
        90% {
            transform: translateY(-6.4px);
        }
    }
}

.color_legal_motion{
    color: white;
    padding-top: 15px;
    transition: .5s;
    &:hover {
        text-decoration: underline;
        transform: scale(1.1);
    }
}

.copyright_content{
    padding-top: 30px;
    padding-bottom: 5px;
}
